<div class="container">
<h2>Mes contrats</h2>

<div class="d-flex">
  <% @contracts.each do |contract| %>
    <div class="card p-4 m-4">
      <div class="d-flex">
        <%= contract.nanny.first_name %>
        <%= contract.nanny.last_name %>
      </div>
      <p>Contract id : <%= contract.id %></p>


      <% if contract.has_payslip? %>
        <p>last payslip : <%= contract.payslips.last.month_of_payslip.strftime("%B %Y") %> </p>
        <%= link_to "See last payslip", contract_payslip_path(contract, contract.payslips.last), class: "btn btn-outline-primary"%>
        <% unless Date.today.month == contract.payslips.last.month_of_payslip.month && Date.today.year == contract.payslips.last.month_of_payslip.year %>
          <%= link_to "Create new payslip on this contract", contract_payslips_path(contract), data: {turbo_method: :post}, class: "btn btn-primary"%>

        <% end %>
      <% else %>
        <%= link_to "Create new payslip on this contract", contract_payslips_path(contract), data: {turbo_method: :post}, class: "btn btn-primary"%>


      <% end %>
    </div>
  <% end %>
</div>

</div>


<%# TO DO :
Créer une méthode de model contract : has_payslip? pour savoir si mon contract à une payslip
Créer une méthode de model contract pour savoir si le contrat a déjà une payslip sur le mois d'une date donné
Créer une méthode de model contrat pour savoir si la payslip a bien une payslip sur le mois précédent %>
