<div class="container border p-5 m-2 rounded-3 bg-white" style="height: 98vh;">
  <div class="form-container m-2 p-4 rounded-3 d-flex">
      <%= image_tag("marry_poppins.png", class: "payslip_avatar")%>
      <div class="m-2">
        <h2 class= "p-0 m-0"><%= @contracts.first.nanny.last_name %> <%= @contracts.first.nanny.first_name %></h1>
        <p class= "p-0 m-0">Nounou à domicile</h2>
        <p class= "p-0 m-0">En contract depuis le <%= @contracts.first.start_date.strftime("%e %B %Y")  %></p>
      </div>
        <div class="btn btn-primary align-self-end ms-auto">Consulter le contrat</div>

  </div>

  <div class="row align-items-start justify-content-between m-2">
    <div class="col-4 form-container rounded-3 p-2">
      <div class="d-flex justify-content-between">
        <h3>Juin 2024</h3>
        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mois précédents
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div>
        <p>XX jours travaillés</p>
        <p>XX jours d'absence</p>
      </div>

    </div>
    <div class="col-6 form-container rounded-3 p-2">
      <ul>
        <li>Gross salary : <%#= @payslip.gross_salary %></li>
        <li>Employer contributions : <%#= @payslip.employer_contributions %></li>
        <li>Employee contributions : <%#= @payslip.employee_contributions %></li>
        <li>Paid amount : <%#=@payslip.paid_amount  %></li>
      </ul>

      <div class="d-flex justify-content-between" data-controller="payslip-export-button">
        <div class="d-flex align-items-center">
          <div class="btn btn-primary btn-sm" >Virer le salaire</div>
          <%# <i class="fas fa-sync-alt fa-spin payslip-icons p-2" data-payslip-export-button-target="loader"></i>
          <i class="fa-solid fa-check payslip-icons p-2"data-payslip-export-button-target="success"></i> %>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-primary btn-sm" data-action="click->payslip-export-button#simulate">Transmettre à PAJEemploi</button>
          <i class="fas fa-sync-alt fa-spin payslip-icons p-2" data-payslip-export-button-target="loader"></i>
          <i class="fa-solid fa-check payslip-icons p-2"data-payslip-export-button-target="success"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex flex-column mx-auto" data-controller="display-payslip">
      <% @payslips.each do |payslip| %>
        <ul>
          <li class="form-container p-4 m-2 mx-auto rounded-5">
            <%= payslip.month_of_payslip %>
          </li>
        </ul>
      <% end %>



  </div>
</div>


<%# TO DO :
Créer une méthode de model contract pour savoir si le contrat a déjà une payslip sur le mois d'une date donné
Créer une méthode de model contrat pour savoir si la payslip a bien une payslip sur le mois précédent %>
