<div class="border p-5 m-5 rounded-2">

  <div>
    <h1>Create a new contract</h1>
  </div>

  <div>
    <%= simple_form_for(@contract) do |f| %>
      <%= f.input :serialized_steps_data, as: :text %>
      <%#= f.input :nanny_id, collection: User.all_nannies %>
      <%#= f.input :nanny, collection: current_user.nannies %>
      <% if f.object.current_step_is? :step_1 %>
        <%= f.input :start_date, as: :date, label: 'Start Date' %>
        <%= f.input :end_date, as: :date, label: 'End Date' %>
      <% end %>
      <% if f.object.current_step_is? :step_2 %>
        <%= f.input :type, collection: ["cdd", "cdi"] %>
        <%= f.input :gross_hourly_rate, as: :float, label: 'Gross Hourly Rate' %>
        <%= f.input :weekly_worked_hours, collection: (30..50) %>
      <% end %>
      <% if f.object.has_previous_step? %>
        <%= f.submit "previous", value: "previous" %>
      <% end %>

      <%= f.submit "1", value: "step_1" %>
      <%= f.submit "2", value: "step_2" %>
      <%= f.submit "3", value: "step_3" %>

      <% if f.object.has_next_step? %>
        <%= f.submit "next", value: "next" %>
      <% end %>

      <%= f.submit "create", value: "create" %>
      <%#= f.submit %>
    <% end %>
  </div>
</div>
