<div class="container p-5">

  <div class="header mb-2">
    <h2>Créer un nouveau contrat</h2>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <div class="breadcrumb d-flex justify-content-between">
          <div class="step current">1</div>
          <div class="step">2</div>
          <div class="step">3</div>
    </div>

    <div class="form-container p-4 w-75">
      <%= simple_form_for(@nanny_contract) do |f| %>
        <div class="d-flex">
          <% User.all_nannies.each do |nanny| %>
              <div class="card nanny-card mb-4" data-controller="nanny-card">
                <input type="radio" name="nanny_contract[nanny_id]" id="<%= nanny.id %>" class="d-none">
                <label for="<%= nanny.id %>" class="card-body">
                  <img src="<%= cl_image_tag nanny.photo.key %>" alt="<%= nanny.first_name %> <%= nanny.last_name %>" class="card-img-top rounded-circle mb-3">
                  <h5 class="card-title"><%= nanny.first_name %> <%= nanny.last_name %></h5>
                </label>
              </div>
          <% end %>
        </div>
        <div class="text-center mt-4">
          <%= f.submit 'Suivant', class: 'btn btn-primary btn-lg rounded-5' %>
        </div>
      <% end %>
      </div>

    <div class="form-container p-4 w-75">
      <%= simple_form_for(@nanny_contract) do |f| %>
        <%= f.input :nanny_id, required: false, collection: User.all_nannies, label_method: -> (nanny) {
          "#{nanny.first_name} #{nanny.last_name}"
        }, label: 'Choix de la Nanny', input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
        <div class="text-center mt-4">
          <%= f.submit 'Suivant', class: 'btn btn-primary btn-lg rounded-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
