
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 300px; height: 100vh; position:sticky; top: 0px">
    <a href="/welcome" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Easy Nanny</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to welcome_path, class: "nav-link link-body-emphasis" do %>
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Accueil
          <% end %>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Payer ma Nounou
        </a>
      </li>
      <li>
        <%= link_to new_contract_intake_nanny_contract_path, class: "nav-link link-body-emphasis" do %>
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Créer un nouveau contrat
        <% end %>
      </li>
      <li>
        <%= link_to contracts_path, class: "nav-link link-body-emphasis" do %>
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Voir mes contrats
        <% end %>
      </li>
      <li>
        <%= link_to new_event_path, class: "nav-link link-body-emphasis" do %>
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Déclarer un événement
          <% end %>
        </a>
      </li>
      <li>
        <%= link_to children_path, class: "nav-link link-body-emphasis" do %>
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Voir mes enfants
          <% end %>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "avatar-homme.png", class: "avatar", alt: "user avatar" %>
        <% if current_user %>
          <strong><%= current_user.first_name %></strong>
        <% end %>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <%# <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li> %>
        <li class="dropdown-item "><%= link_to "Profile",  edit_user_registration_path%></li>
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-item "><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
        <%# <li><a class="dropdown-item" href="#">Sign out</a></li> %>
      </ul>
    </div>
  </div>
