

<div class="global-nav d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 300px; height: 100vh; position:sticky; top: 0px">
  <%= link_to "/", class:"title-logo" do %>
    <div class="title-navbar d-flex flex-row align-items-center justify-content-center mb-3 link-body-emphasis text-decoration-none">
      <div class="w-25"> <%= image_tag "logo2.png", alt: "Logo Easy Nanny", class: "logo", style: "width: 55px; height: 55px; margin-right: 8px;" %> </div>
      <div class="logo-header"> <span class="title-logo">Easy Nanny</span> </div>
    </div>
  <% end %>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to welcome_path, class: "nav-link link-body-emphasis #{'active' if current_page?(welcome_path)}" do %>
          Accueil
          <% end %>
        </a>
      </li>

      <li>
        <%= link_to new_contract_intake_nanny_contract_path, class: "nav-link link-body-emphasis #{'active' if current_page?(new_contract_intake_nanny_contract_path)}" do %>
          Créer un nouveau contrat
        <% end %>
      </li>
      <li>
        <%= link_to contracts_path, class: "nav-link link-body-emphasis #{'active' if current_page?(contracts_path)}" do %>
          Voir mes contrats
        <% end %>
      </li>
      <li>
        <%= link_to children_path, class: "nav-link link-body-emphasis #{'active' if current_page?(children_path)}" do %>
          Voir mes enfants
          <% end %>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown p-3">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <% if current_user.photo.attached?  %>
          <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "user avatar", width: 40, height: 40, crop: :thumb, gravity: :face %>
        <% else  %>
          <%= image_tag "avatar-homme.png", class: "payslip_avatar", alt: "user avatar" %>
        <% end  %>
        <% if current_user %>
          <strong><%= current_user.first_name %></strong>
        <% end %>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li class="dropdown-item "><%= link_to "Profile",  edit_user_registration_path%></li>
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-item "><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
      </ul>
    </div>
  </div>
