<div class="event-grid">
  <% events.each do |event| %>
    <div class="form-container child-card d-none" data-bs-toggle="modal" data-bs-target="#<%= event.id %>" data-welcome-target="<%= event.start_date.strftime("%A").downcase %>Card">
      <div class="d-flex justify-content-between align-items-top">
        <div class="event-hour align-items-top">
          <%= event.start_date.strftime("%kh%M") %>
        </div>
        <div class="d-flex align-items-top">
          <div class="event-child-name">
            <%= event.child.first_name %>
          </div>
          <div class="event-child-photo">
            <% if event.child.photo.attached? %>
              <%= cl_image_tag event.child.photo.key, class: "avatar", alt: "user avatar", width: 40, height: 40, crop: :thumb, gravity: :face %>
            <% else %>
              <%= image_tag "avatar-homme.png", class: "avatar", alt: "user avatar" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="description-type d-flex align-items-bottom justify-content-between">
        <div class="col-12 col-md-10 col-lg-8">
          <%= event.description %>
        </div>
        <div class="event-type align-items-bottom">
          <%= event.type %>
        </div>
      </div>
    </div>


<!-- Modal -->


    <div class="modal fade-modal-lg" id="<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
                <div class="form-container child-card d-none" data-bs-toggle="modal" data-bs-target="#<%= event.id %>" data-welcome-target="<%= event.start_date.strftime("%A").downcase %>Card">
                      <% if event.photo.key.present? %>
                        <%= cl_image_tag event.photo.key, class: "img-fluid w-100 h-100" %>
                      <% else %>
                        <%= image_tag "event_placeholder.png", class: "img-fluid w-100 h-100" %>
                      <% end %>
              </div>
        </div>
    </div>
  <% end %>
</div>



                        <%# <%= event.start_date.strftime("%kh%M") %>
                        <%# <%= event.start_date.strftime("%B")%>
                          <%# <div class="event-child-photo"> %>
                            <%# <% if event.child.photo.attached? %>
                              <%# <%= cl_image_tag event.child.photo.key, class: "avatar", alt: "user avatar", width: 40, height: 40, crop: :thumb, gravity: :face %>
                            <%# <% else %>
                              <%# <%= image_tag "avatar-homme.png", class: "avatar", alt: "user avatar" %>
                            <%# <% end %>
                          <%# </div> %>
