<div class="container main-page p-5" data-controller="welcome">
  <div class="header mb-2">
    <h1>Ma semaine</h1>
  </div>
    <div class="d-flex justify-content-between">
      <div><h4 data-welcome-target="weekNum"></h4></div>
      <div>
        <button type="button" class="mb-3 mt-0 btn btn-cta" data-bs-toggle="modal" data-bs-target="#createEventModal">
          Nouvel événement
        </button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content form-container p-4 new-event-modal">
            <%= simple_form_for(@new_event, data:{ turbo: false }) do |f| %>
              <div class="modal-header d-flex justify-content-center p-0">
              <h4 class="m-0 pt-0 pb-2">Ajouter un événement</h4>
              </div>

              <div class="d-flex justify-content-between pt-2">
                <div class="w-25">
                  <%= f.association :child, collection: current_user.children, label_method: :first_name, label: 'Enfant', input_html: { class: "w-100" } %>
                </div>
                <div class="w-25">
                  <%= f.association :contract, collection: current_user.parent_contracts, label_method: :display_nanny_first_name, label: "Nanny", input_html: { class: "w-100" } %>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="pl-4">
                  <%= f.input :start_date, as: :string, label: 'Date', required: false, input_html: { data: { controller: "datepicker-with-time" } } %>
                </div>
                <div class="pr-4">
                  <%= f.input :photo, as: :file, label: "Ajouter une photo" %>
                </div>
              </div>
              <div class="contract-type d-flex justify-content-between my-2">
                <input type="radio" id="Activité" name="type" value="Activité" class="radio-input">
                <label for="Activité" class="radio-label">Activité</label>
                <input type="radio" id="Congés" name="type" value="Congés" class="radio-input">
                <label for="Congés" class="radio-label">Congés</label>
                <input type="radio" id="Médicament" name="type" value="Médicament" class="radio-input">
                <label for="Médicament" class="radio-label">Médicament</label>
                <input type="radio" id="RTT" name="type" value="RTT" class="radio-input">
                <label for="RTT" class="radio-label">RTT</label>
              </div>
              <%= f.input :description, as: :text, label: 'Commentaires', placeholder: "Détails de l'événement", input_html: { class: 'placeholder-italic' } %>

          <div class="modal-footer m-0 p-0">
            <div class="pt-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= f.submit "Enregistrer", class: 'btn btn-primary'%>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <div >
    <div class="d-flex justify-content-between">
      <p data-action="click->welcome#change_week" data-direction="pastWeek" class="previous-futur-week"><<</p>
      <p data-action="click->welcome#events_of_day" data-day="monday" data-welcome-target="monday" class="day-transparent">Lundi</p>
      <p data-action="click->welcome#events_of_day" data-day="tuesday" data-welcome-target="tuesday">Mardi</p>
      <p data-action="click->welcome#events_of_day" data-day="wednesday" data-welcome-target="wednesday">Mercredi</p>
      <p data-action="click->welcome#events_of_day" data-day="thursday" data-welcome-target="thursday">Jeudi</p>
      <p data-action="click->welcome#events_of_day" data-day="friday" data-welcome-target="friday">Vendredi</p>
      <p data-action="click->welcome#change_week" data-direction="futurWeek"class="previous-futur-week">>></p>
    </div>

    <div data-welcome-target="calendar">
      <%= render "week-events", events: @events %>
    </div>

  </div>

</div>
