<div class="container main-page p-5">

  <div class="header mb-5">
    <h1>Absences du mois</h1>
  </div>


<div class="row">
  <div class="col-9">

    <%= month_calendar(events: @events, attribute: :start_date) do |date, event| %>
      <%= date %>

      <% event.each do |event| %>
        <div class="meeting">
          <p><%= event.type %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-2">
    <h3>
    <%= @events.select {|event| event.type == "RTT"}.count %> RTT
    </h3>
    <h3>
    <%= @events.select {|event| event.type == "Congés"}.count %> Congés
    </h3>
    <button type="button" class="mb-3 mt-0 btn btn-cta" data-bs-toggle="modal" data-bs-target="#createEventModal">
      Nouvel événement
    </button>
    <!-- Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content form-container p-4 new-event-modal">
            <%= simple_form_for(@new_event, url:  contract_payslip_creation_create_path(@contract), data:{ turbo: false }) do |f| %>
              <div class="modal-header d-flex justify-content-center p-0">
              <h4 class="m-0 pt-0 pb-2">Ajouter un événement</h4>
              </div>


              <div class="d-flex justify-content-between">
                <div class="pl-4">
                  <%= f.input :start_date, as: :string, label: 'Date', required: false, input_html: { data: { controller: "datepicker-with-time" } } %>
                </div>
              </div>
              <div class="contract-type d-flex justify-content-between my-2">
                <input type="radio" id="Congés" name="type" value="Congés" class="radio-input">
                <label for="Congés" class="radio-label">Congés</label>
                <input type="radio" id="RTT" name="type" value="RTT" class="radio-input">
                <label for="RTT" class="radio-label">RTT</label>
              </div>
              <%= f.input :description, as: :text, label: 'Commentaires' %>

          <div class="modal-footer m-0 p-0">
            <div class="pt-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= f.submit "Enregistrer", class: 'btn btn-primary'%>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>




    <div>
      <%= link_to "Créer une nouvelle fiche de paie", contract_payslips_path(@contract, start_date: Date.today), data: {turbo_method: :post}, class: "btn btn-primary"%>
    </div>

  </div>
</div>

</div>
