<div class="border p-5 m-5 rounded-2">

  <div>
    <h1>Ajouter un Evenement</h1>
  </div>

  <div>
      <%= simple_form_for(@event) do |f| %>
      <%= f.input :child, collection: current_user.children, label: 'Enfant' %>
      <%= f.association :contract, collection: current_user.parent_contracts, value_method: :id, label_method: :nanny, :required => true, prompt: "Please Select" %>
      <%#= f.input :contract, collection: current_user.contracts, label: 'Nounou', value_method: :nanny %>
      <%= f.input :date, as: :date, label: 'Quel jour' %>
      <%= f.input :type, as: :text %>
      <%= f.input :description, as: :text, label: 'Commentaires' %>
      <%= f.input :photo, as: :file, label: "Ajouter une photo" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>


<%#= f.input :type, collection: ["RTT", "Congés", "Absence", "Médicament"] %>
