<div class="container main-page p-5">

  <div class="header mb-2">
    <h1>Créer un nouveau contrat</h1>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <div class="breadcrumb d-flex justify-content-between">
          <div class="step">1</div>
          <div class="step">2</div>
          <div class="step current">3</div>
    </div>

    <div class="m-2 p-2 rounded-5 w-75 mx-auto">
      <div class="form-container p-4 m-2 rounded-5">
        <div>
        <h4> <%= @contract.nanny.first_name %> <%= @contract.nanny.last_name %> </h4>
        </div>
        <div> <%= @contract.nanny.address %></div>
      </div>
      <div class="form-container m-2 p-4 rounded-5">
        <div>Enfant(s) gardé(s): </div>
          <% @contract.children.each do |child| %>
            <div> <%= child.first_name %> <%= child.last_name %></div>
          <% end %>
        <div> Début du contrat : <%= @contract.start_date %></div>
        <div> Fin du contrat : <%= @contract.end_date %></div>
        <div> Type de contrat : <%= @contract.type %></div>
        <div> Nombre d'heures hebdomadaires : <%= @contract.weekly_worked_hours %></div>
        <div> Taux horaire : <%= @contract.gross_hourly_rate %></div>
        <%= link_to 'Télécharger le contrat', contract_path(@contract, format: :pdf), class: 'btn btn-primary btn-lg rounded-5 me-5', target: '_blank' %>
        <%= link_to 'Modifier le contrat', edit_contract_path(@contract), class: 'btn btn-primary btn-lg rounded-5', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
