<div class="container p-5">

  <div class="header mb-2">
    <h2>Créer un nouveau contract</h2>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <div class="breadcrumb d-flex justify-content-between">
          <div class="step">1</div>
          <div class="step current">2</div>
          <div class="step">3</div>
    </div>

  <div class="form-container p-4 w-50 rounded-5">
    <%= simple_form_for(@information_contract, url: contract_intake_information_contracts_path(contract: @contract)) do |f| %>
        <div data-controller="contract-type">
          <div class="contract-type d-flex">
            <input type="radio" id="cdd" name="contract_intake_information_contract[type]" value="cdd" class="radio-input" data-action="change->contract-type#toggleEndDate">
            <label for="cdd" class="radio-label">CDD</label>
            <input type="radio" id="cdi" name="contract_intake_information_contract[type]" value="cdi" class="radio-input" data-action="change->contract-type#toggleEndDate">
            <label for="cdi" class="radio-label">CDI</label>
          </div>
          <div class="d-flex justify-content-between">
            <div><%= f.input :start_date, as: :string, label: 'Démarrage du contrat', required: false, input_html: { data: { controller: "datepicker" } } %></div>
            <div data-contract-type-target="endDate"><%= f.input :end_date, as: :string,label: 'Fin du contrat', input_html: { data: { controller: "datepicker" } } %></div>
          </div>
        </div>
      <div>
        <div><%= f.input :weekly_worked_hours, required: false, label: 'Temps de travail hebdomadaire' %></div>
      </div>
      <div class="slider-group">
        <label for="gross_hourly_rate">Taux horaire (€)</label>
        <input type="range" id="gross_hourly_rate" name="contract_intake_information_contract[gross_hourly_rate]" min="0" max="20" step="0.1" class="slider" oninput="this.nextElementSibling.value = this.value">
        <output>10</output> €
      </div>
      <div class="text-center mt-4">
      <%= f.submit 'Suivant', class: 'btn btn-outline-light btn-lg rounded-5' %>
      </div>
    <% end %>
  </div>
</div>
