<div class="container border p-5 m-5 rounded-5 bg-white">

  <div class="header text-center mb-4">
    <h1>Créer un nouveau contract</h1>
  </div>

  <div class="breadcrumb-container mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Choix de la Nanny</li>
      <li class="breadcrumb-item active">Informations du Contrat</li>
      <li class="breadcrumb-item">Confirmation</li>
    </ol>
  </div>

  <div class="form-container p-4 rounded-5">
    <%= simple_form_for(@information_contract, url: contract_intake_information_contracts_path(contract: @contract)) do |f| %>
      <%= f.input :start_date, as: :date, label: 'Date de début' %>
      <%= f.input :end_date, as: :date, label: 'Date de fin' %>
      <%= f.input :type, collection: ["cdd", "cdi"], label: 'Type de contrat' %>
      <%= f.input :gross_hourly_rate, as: :float, label: 'Taux horaire' %>
      <%= f.input :weekly_worked_hours, collection: (30..50), label: 'Temps de travail hebdomadaire' %>
      <div class="text-center mt-4">
        <%= f.submit 'Suivant', class: 'btn btn-outline-light btn-lg rounded-5' %>
      </div>
    <% end %>
  </div>
</div>
